*{
  padding: 0%;
  margin: 0%;
}

h1{
  padding: 1%;
  font-size: xx-large;
  font-weight: bolder;
  background: #000;
  color: chartreuse;
  display: flex;
  justify-content: center;
}

.spandiv{
  display: flex;
  justify-content: center;
  margin-top: 15%;
}

span{
  margin-left: 1%;
  font-size: 50px;
  display: inline;
  font-weight: 900;
}

.btndiv{
  margin-top: 2%;
  display: flex;
  justify-content: center;
}

button{
  padding: 1%;
  border-radius: 50px;
  background: #000;
  color: chartreuse;
  font-size: larger;
  font-weight: 600;
  margin-right: 1%;
}